// styles must be cascading in order they appear
@import "partials/normalize";
@import "partials/variables";


// basic styles
body {
    font-family: $bodyFont;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    text-transform: uppercase;
}

li:hover {
    color: $accentColor;
}

button {
    // padding: 15px;
    border: none;
    text-transform: uppercase;
}

button:hover {
    background: $accentColor;
    color: white;
}

// HEADER STYLES
// top bar styles
.top-bar-content {
    display: flex;
    list-style: none;
}

.top-bar-container {
    background: black;
    color: white;
}

.top-bar-flex-container {
    display: flex;
    justify-content: space-around;
}

// header nav styles 
.header-nav-bar {
    display: flex;
    list-style: none;
    justify-content: center;
}

// header hero image styles
.header-title {
    background: url('../assets/backgroundImage.jpg');
    
    // background-size: cover;
    background-size: contain;

    height: 100vh;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    h1 {
        font-weight: 900;
        font-size: 70px;
    }
}

.header-title {
    display: flex;
    flex-direction: column;
}

.header-title-overlay {
    width: 50%;
    text-align: center;
    margin: auto;
}

// HEADER STYLES END

// MAIN STYLES START
// main title styles
.main-section-title {
    text-align: center;
}

// COURSES STYLES START
// main courses styles start

// main courses navigation styles
.course-items-flex-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    li {
        padding: 5px;
    }
}
.main-courses-items-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.main-courses-items {
    flex-basis: 180px;
    margin: 10px 10px;
    border: 1px solid $backgroundColor;
}

.courses-content {
    padding: 5px;
}

.view-course {
    color: $accentColor;
}

.courses-title {
    font-weight: bold;
    font-size: 14px;
}

.author {
    line-height: 0;
}

.view-course {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 0;
}

.courses-items-flex-icons, .courses-items-flex-users{
    display: flex;
}

.courses-items-flex-icons {
    color: #666666;
}

.courses-price {
    color: $accentColor;
}

// main courses styles end

// GALLERY STYLES START
// main gallery styles start
.main-gallery-flex-container ul {
    display: flex;
	flex-wrap: wrap;
    padding: 0;
    li {
        list-style: none;
        flex-basis: 250px;
        padding: 15px;
        flex-grow: 1;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

// main gallery overlay
.overlay {
    position: absolute;
}


// main gallery styles end

// NEWS STYLES START
// main news styles start
.main-news-items-flex-container {
    display: flex;
    background: $backgroundColor;
    max-width: 100%;
    margin: 40px 0;
    max-width: 100%;
    img {
        width: 50%;
        position: relative;
        top: -20px;
        left: 20px;
    }
}

.main-news-items-text-container {
    position: relative;
    width: 60%;
    padding-left: 40px;
    button {
        font-size: 12px;
        padding: 5px 10px;
        position: absolute;
        bottom: 20px;
    }
}

.main-news-user-info-container {
    font-size: 12px;
    p {
       margin: 0; 
       i {
           padding-right: 5px;
       }
    }
}

.main-news-items-flex-icons {
    display: flex;
}

.item-title {
    font-weight: bold;
}

.news-text {
    font-size: 12px;
    line-height: 20px;
}

// main news styles end




// ABOUT GENIUS STYLES START
// main about Genius styles start
.section-about-genius-container {
    background: $backgroundColor;
}

.main-about-genius-flex-container {
    display: flex;
}

// main about Genius ends

// PRICING STYLES START
// main pricing packages container styles start
.main-pricing-flex-container {
    display: flex;
    h2 {
        text-transform: uppercase;
        font-size: 15px;
        padding-top: 29px;
    }
}

.payment-plan {
    font-size: 10px;
}

.main-pricing-plan-container {
    width: 33.33%;
    background: $backgroundColor;
    text-align: center;
    margin: 100px 10px 50px 10px;
    position: relative;
    display: block;
    ul {
        background: white;
        padding: 0;
        color: black;
        margin: 0px 10px;
        li {
            list-style: none;
            text-align: center;
            padding: 10px 20px;
            text-transform: capitalize;
            font-size: 10px;
        }
    }
}

 .pricing-plan {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

// main pricing packages price circles
.price-tag {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 40px;
    position: absolute;
    border: 5px solid white;
    text-align: center;
    left:50%;
    margin-left:-35px;
    top: -43px;
    background: $backgroundColor;
    p {
        position: absolute;
        left: 23px;
        font-weight: bold;
        font-size: 20px;
    }
}

// div.price-tag:hover {
//     background: $accentColor;
// }

 span {
    position: absolute;
    bottom: 30px;
    font-size: 12px;
    left: -7px;
    bottom: 13px;
 }
  
.main-pricing-plan-container:hover {
    background: $accentColor;
    color: white;
}


// FOOTER STYLES
// footer top styles start
.section-footer-top {
    background: #252525;
    color: white;
}

.footer-flex-container {
    display: flex;
    ul {
        list-style: none;
    }
}

// footer bottom style start
.section-footer-bottom {
    background: black;
    color: white;
}

.footer-flex-nav {
    display: flex;
    ul {
        display: flex;
        list-style: none;
    }
}

.footer-top-icons ul {
    display: flex;
}



