article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif; }

.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto; }

img {
  max-width: 100%; }

h1 {
  text-transform: uppercase; }

li:hover {
  color: #86bc42; }

button {
  border: none;
  text-transform: uppercase;
  background: #86bc42;
  font-weight: 700;
  padding: 5px 10px; }

button:hover {
  color: white; }

.top-bar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.top-bar-container {
  background: black;
  color: white; }

.top-bar-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.header-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.header-title {
  background: url("../assets/backgroundImage.jpg");
  background-size: cover;
  height: 100vh;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat; }
  .header-title h1 {
    font-weight: 900;
    font-size: 60px; }

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header-title-overlay {
  width: 50%;
  text-align: center;
  margin: auto; }
  .header-title-overlay button {
    padding: 10px 20px; }

.main-section-title {
  text-align: center;
  margin: 40px; }
  .main-section-title h1 {
    margin: 5px 0; }

.main-section-title p {
  margin-bottom: 0;
  margin-top: 40px;
  text-transform: uppercase; }

.course-items-flex-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .course-items-flex-nav ul li {
    padding: 5px; }

.main-courses-items-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.main-courses-items {
  -ms-flex-preferred-size: 272px;
  flex-basis: 272px;
  margin: 10px 10px;
  border: 1px solid #f0f2f7;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .main-courses-items img {
    width: 100%; }

.courses-content {
  padding: 5px; }

.view-course {
  color: #86bc42; }

.courses-title {
  font-weight: bold;
  font-size: 18px; }

.author {
  line-height: 0; }

.view-course {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 0; }

.courses-items-flex-icons, .courses-items-flex-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.courses-items-flex-icons {
  color: #666666; }

.courses-price {
  color: #86bc42; }

.main-gallery-flex-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0; }
  .main-gallery-flex-container ul li {
    list-style: none;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    padding: 15px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .main-gallery-flex-container ul li img {
      display: block;
      width: 100%;
      height: auto; }

.overlay {
  position: absolute; }

.main-news-items-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f0f2f7;
  max-width: 100%;
  margin: 40px 0;
  max-width: 100%; }
  .main-news-items-flex-container img {
    width: 50%;
    position: relative;
    top: -20px;
    left: 20px; }

.main-news-items-text-container {
  position: relative;
  width: 60%;
  padding-left: 40px; }
  .main-news-items-text-container button {
    font-size: 12px;
    position: absolute;
    bottom: 20px; }

.main-news-user-info-container {
  font-size: 12px; }
  .main-news-user-info-container p {
    margin: 0; }
    .main-news-user-info-container p i {
      padding-right: 5px; }

.main-news-items-flex-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.item-title {
  font-weight: bold; }

.news-text {
  font-size: 12px;
  line-height: 20px; }

.section-about-genius-container {
  background: #f0f2f7;
  height: 400px; }

.about-flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1; }
  .about-flex-content h2 {
    margin: 0 5px;
    font-size: 24px; }

.about-info p {
  font-size: 12px;
  margin: 10px 5px;
  line-height: 17px; }

.main-about-genius-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.border-radius {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background: white;
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -20px;
  background-color: rgba(255, 255, 255, 0.5); }

.main-pricing-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .main-pricing-flex-container h2 {
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 29px; }

.payment-plan {
  font-size: 10px; }

.main-pricing-plan-container {
  width: 33.33%;
  background: #f0f2f7;
  text-align: center;
  margin: 100px 10px 50px 10px;
  position: relative;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px; }
  .main-pricing-plan-container ul {
    background: white;
    padding: 0;
    color: black;
    margin: 0px 10px; }
    .main-pricing-plan-container ul li {
      list-style: none;
      text-align: center;
      padding: 16px 0;
      text-transform: capitalize;
      font-size: 10px; }

.pricing-plan {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold; }

.price-tag {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  position: absolute;
  border: 5px solid white;
  text-align: center;
  left: 50%;
  margin-left: -35px;
  top: -43px;
  background: #f0f2f7; }
  .price-tag p {
    position: absolute;
    left: 23px;
    font-weight: bold;
    font-size: 20px; }
    .price-tag p span {
      position: absolute;
      bottom: 30px;
      font-size: 12px;
      left: -7px;
      bottom: 13px; }

.main-pricing-plan-container:hover .price-tag {
  background: #86bc42;
  -webkit-box-shadow: 1px 1px 10px 2px grey;
  box-shadow: 1px 1px 10px 2px grey; }

.main-pricing-plan-container:hover {
  background: #86bc42;
  color: white; }

.section-footer-top {
  background: #252525;
  color: white; }

.footer-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-flex-container ul {
    list-style: none; }

.section-footer-bottom {
  background: black;
  color: white; }

.footer-flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-flex-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }

.footer-top-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
