// styles must be cascading in order they appear
@import "partials/normalize";
@import "partials/header";
@import "partials/variables";


// basic styles
body {
    font-family: $bodyFont;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    text-transform: uppercase;
}

li:hover {
    color: $accentColor;
}

button {
    padding: 10px;
    border: none;
}

button:hover {
    background: $accentColor;
    color: white;
}

// HEADER STYLES
// top bar styles
.top-bar-content {
    display: flex;
    list-style: none;
}

// header nav styles 
.header-nav-bar {
    display: flex;
    list-style: none;
    justify-content: center;
}

// header hero image styles
.header-title {
    background: url('../assets/backgroundImage.jpg');background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    h1 {
        font-weight: 900;
        font-size: 70px;
    }
}

.header-title-overlay {
    width: 50%;
    text-align: center;
    margin: auto;
}

// HEADER STYLES END

// MAIN STYLES START

// main title styles
.main-section-title {
    text-align: center;
}

// main courses styles start
.main-courses-items-flex-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid fuchsia;
}

.main-courses-items {
    border: 1px solid fuchsia;
}

.courses-items-flex-icons, .courses-items-flex-users{
    display: flex;
}

// main courses navigation styles
.course-items-flex-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    li {
        padding: 5px;
    }
}

// main courses styles end

// main gallery styles start


// main news styles start
.main-news-items-flex-container {
    display: flex;
    background: $backgroundColor;
    img {
        width: 40%;
    }
}

.main-news-items-text-container {
    width: 60%;
}

.main-news-items-flex-icons {
    display: flex;
}

// main about Genius styles start
.section-about-genius-container {
    background: $backgroundColor;
}

.main-about-genius-flex-container {
    display: flex;
}

// main pricing packages container styles start
.main-pricing-flex-container {
    display: flex;
    border: 1px solid fuchsia;
}

.main-pricing-plan-container {
    width: 33.33%;
    border: 1px solid fuchsia;
    background: $backgroundColor;
    text-align: center;
    margin: 100px 0px 50px 0;
    position: relative;
    display: block;
    ul {
        background: white;
        padding: 0;
        color: black;
        li {
            list-style: none;
            text-align: center;
            padding: 10px 10px;
        }
    }
}

.main-pricing-plan-container:hover {
    background: $accentColor;
    color: white;
}

// main pricing packages price circles
.price-animation p {
    height: 70px;
    width: 70px;
    border-radius: 40px;
    position: absolute;
    //    background: $accentColor;
    border: 5px solid white;
    text-align: center;
    left:50%;
    margin-left:-35px;
    top: -70px;
    p:hover {
        background: $accentColor;
    }
}

// FOOTER STYLES
// footer top styles start
.section-footer-top {
    background: #252525;
    color: white;
}

.footer-flex-container {
    display: flex;
    ul {
        list-style: none;
    }
}

// footer bottom style start
.section-footer-bottom {
    background: black;
    color: white;
}

.footer-flex-nav {
    display: flex;
    ul {
        display: flex;
        list-style: none;
    }
}




