article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden; }

.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto; }

img {
  max-width: 100%; }

h1 {
  text-transform: uppercase; }

li:hover {
  color: #86bc42; }

button {
  border: none;
  text-transform: uppercase;
  background: #86bc42;
  font-weight: 700;
  padding: 5px 10px;
  color: white; }

button:hover {
  background: #79a93b; }

.top-bar-container {
  background: black;
  color: white; }

.top-bar-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 12px; }
  .top-bar-flex-container li {
    list-style: none; }

.top-bar ul {
  padding-left: 0; }

.top-bar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .top-bar-content i {
    color: #86bc42;
    margin-right: 10px; }

.top-bar-left li:first-child {
  margin-right: 10px; }

.logo-center {
  font-size: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

li.divider {
  margin: 0 10px; }

@media screen and (max-width: 780px) {
  .top-bar-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.header-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0; }
  .header-nav-bar li {
    font-weight: 700;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px; }

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none; }

#toggle {
  display: none; }

@media screen and (max-width: 600px) {
  label {
    display: block;
    cursor: pointer; }
  .header-nav-bar {
    text-align: center;
    width: 100%;
    display: none; }
  .header-nav-bar li {
    display: block;
    border-bottom: 1px solid grey;
    margin: 0; }
  #toggle:checked + .header-nav-bar {
    display: block; } }

.header-title {
  background: url("../assets/backgroundImage.jpg");
  background-size: cover;
  height: 100vh;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat; }
  .header-title h1 {
    font-weight: 900;
    font-size: 72px; }

.header-title-overlay {
  width: 50%;
  text-align: center;
  margin: auto; }
  .header-title-overlay button {
    padding: 10px 20px; }

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@media screen and (max-width: 880px) {
  .header-title h1 {
    font-size: 60px; } }

@media screen and (max-width: 722px) {
  .header-title h1 {
    font-size: 40px; } }

@media screen and (max-width: 480px) {
  .header-title h1 {
    font-size: 25px; } }

.main-section-title {
  text-align: center;
  margin: 40px;
  margin-top: 60px; }
  .main-section-title h1 {
    margin: 5px 0; }

.main-section-title p {
  padding-top: 50px; }

.main-section-title p {
  margin-bottom: 0;
  margin-top: 40px;
  text-transform: uppercase; }

.course-items-flex-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0; }
  .course-items-flex-nav ul li {
    padding: 5px; }

.main-course-items-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.main-course-items {
  -ms-flex-preferred-size: 272px;
  flex-basis: 272px;
  margin: 10px 10px;
  border: 1px solid #f0f2f7;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  .main-course-items img {
    width: 100%; }

.course-content {
  padding: 5px; }

.course-title {
  font-weight: bold;
  font-size: 18px; }

.circle-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }

.profile-photo {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: #b7b7b7;
  margin-right: 10px; }

.course-author {
  border-bottom: 1px solid #f0f2f7; }

.author {
  line-height: 0;
  padding-bottom: 5px;
  margin-top: 10px; }

.view-course {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 0;
  color: #86bc42; }

.course-items-flex-icons, .course-items-flex-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.course-items-flex-icons {
  color: #666666; }
  .course-items-flex-icons p {
    margin-right: 7px; }
    .course-items-flex-icons p i {
      margin-right: 5px; }

.course-price {
  color: #86bc42; }

@media screen and (max-width: 750px) {
  .course-items-flex-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding-left: 0; } }

.section-main-gallery {
  background: #f0f2f7; }

.main-gallery-flex-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0; }
  .main-gallery-flex-container ul li {
    list-style: none;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    padding: 15px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .main-gallery-flex-container ul li img {
      display: block;
      width: 100%;
      height: auto; }

.overlay {
  position: absolute; }

.main-news-items-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f0f2f7;
  max-width: 100%;
  margin: 40px 0;
  max-width: 100%; }
  .main-news-items-flex-container img {
    width: 50%;
    position: relative;
    top: -20px;
    left: 20px; }

.main-news-items-text-container {
  position: relative;
  width: 60%;
  padding-left: 60px;
  padding-right: 40px; }
  .main-news-items-text-container button {
    font-size: 14px;
    position: absolute;
    bottom: 20px; }

.main-news-user-info-container {
  font-size: 12px; }
  .main-news-user-info-container p {
    margin: 0; }
    .main-news-user-info-container p i {
      padding-right: 5px; }

.main-news-items-flex-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-news-items-flex-icons p {
    padding: 5px; }

.item-title {
  font-weight: bold;
  font-size: 24px;
  margin-top: 40px; }

.news-text {
  font-size: 14px;
  line-height: 30px;
  margin-top: 60px; }

@media screen and (max-width: 1068px) {
  .main-news-items-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%; }
    .main-news-items-flex-container img {
      display: none; } }

@media screen and (max-width: 1068px) {
  p.news-text {
    margin-top: 30px;
    margin-bottom: 80px;
    width: 500px; } }

@media screen and (max-width: 680px) {
  p.news-text {
    margin-top: 30px;
    margin-bottom: 80px;
    width: 350px; } }

@media screen and (max-width: 480px) {
  p.news-text {
    margin-top: 30px;
    margin-bottom: 80px;
    width: 200px; } }

.main-pricing-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .main-pricing-flex-container h2 {
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 29px;
    margin-bottom: 0; }

p.payment-plan {
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 0; }

.main-pricing-plan-container {
  width: 33.33%;
  background: #f0f2f7;
  text-align: center;
  margin: 76px 47px 44px 3px;
  margin-right: 0;
  position: relative;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px; }
  .main-pricing-plan-container ul {
    background: white;
    padding: 0;
    color: black;
    margin: 0px 10px; }
    .main-pricing-plan-container ul li {
      list-style: none;
      text-align: center;
      padding: 16px 0;
      text-transform: capitalize;
      font-size: 14px; }

.main-pricing-plan-container li:first-child {
  padding-top: 30px; }

.main-pricing-plan-container li:last-child {
  padding-bottom: 30px; }

.pricing-plan {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold; }

p.pricing-plan {
  margin: 25px; }

.price-tag {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 10px solid white;
  background: #f0f2f7;
  position: absolute;
  top: -70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  .price-tag p {
    position: absolute;
    left: 29px;
    top: -25px;
    font-weight: bold;
    font-size: 38px; }
    .price-tag p span {
      position: absolute;
      bottom: 30px;
      font-size: 12px;
      left: -10px;
      bottom: 13px; }

.main-pricing-plan-container:hover .price-tag {
  background: #86bc42;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25); }

.main-pricing-plan-container:hover {
  background: #86bc42;
  color: white; }

.section-footer-top {
  background: #252525;
  color: white;
  font-size: 13px; }

.footer-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer-flex-container ul {
    list-style: none; }

.footer-options-container {
  max-width: 25%; }

.footer-options-container ul {
  padding-left: 0;
  line-height: 24px; }
  .footer-options-container ul i {
    padding-right: 10px;
    color: #86bc42; }

.footer-options-container h2 {
  text-transform: uppercase;
  font-size: 20px; }

@media screen and (max-width: 680px) {
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.footer-top-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-flex-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0 30px;
    padding-left: 0; }
    .footer-flex-nav ul li {
      padding: 0 10px;
      padding-left: 0; }

.section-footer-bottom {
  background: black;
  color: white; }
